/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('../assets/img/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  .capsule-div {
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 640px) {
    .capsule-div {
      bottom: 10px;
    }
  }
  .capsule {
    width: 35px;
    height: 64px;
    border-radius: 24px;
    border: 4px solid #fff; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2px;
  }
  .point-ball{
  position: relative;
  justify-content: center;
  align-items: center;
  width: 16px; /* Assuming 'w-3' corresponds to this width */
  height: 16px; /* Assuming 'h-3' corresponds to this height */
  border-radius: 50%; /* 'rounded-full' makes the div fully rounded */
  background-color: #fff; /* Assuming 'bg-secondary' corresponds to this color */
  margin-bottom: 4px; /* Assuming 'mb-1' corresponds to this margin */
  }